<section class="align-items-center bg-img bg-img-fixed" id="user-section"
        style="background-image: url(img/banner3.jpg);">
        <div class="container">
            <div class="account">
                <h1>My Account</h1>
                <div class="user-info">
                    <img src="img/profile.png">
                    <!--
                    <p>Username: Nguyen Hoang Minh <br>
                    Phone Number: 0123456789<br>
                    ID: ID129470</p>
                    -->
                </div>
                <a href="#"><div class="user-func-container">
                    <p>My profile</p>
                </div></a>
                <a href="#"><div class="user-func-container">
                    <p>Pending Order</p>
                </div></a>
                <a href="#"><div class="user-func-container">
                    <p>Order History</p>
                </div></a>
            </div>
        </div>
</section>